body {
  min-width: 100vw;
  height: 1100vh;
}
nav {
  background: #00272B;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0px;
  z-index: 1;
  left: 0px;
  display: table;

}
nav a {
  font-size:0.65em;
  color: white;
  font-weight: bold;
  font-family: Poppins;
  top: 25%;
  display: table-cell;
  width: 16.666666667%;
  text-align: center;
  padding: 10px;
}
section {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
  z-index: 0;
}
#intro {
  top: 0vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  font-size: 0.8em;
  position: absolute;
  text-align: center;
}

#intro p {
  font-size: 1.5em;
}

#intro h1 {
  top: 50vh;
  font-family: Poppins;
  text-align: center;
  font-size: 5em;
  color: black;
}

#viz1 {
  top: 100vh;
  width: 100%;
  position: absolute;
}

#tableauViz1 {
  margin-left: auto ;
  margin-right: auto ;
  width: 100%;
  height: 80vh;
}

.titletext {
  font-family: Poppins;
  text-align: center;
  color: black;
  font-size: 2em;
  position: sticky;
  font-weight: bold;
  z-index: 1;
  background-color: white;
  padding-top: 10px;
  top:5vh;
}

p {
  font-size: 1.15em;
  margin: 2%;
  font-family: Raleway;
  text-align: center;
}
#countyViz {
  top: 200vh;
  width: 100%;
  position: absolute;
}
#viz1610557469475 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#districtViz {
  top: 300vh;
  width: 100%;
  position: absolute;
}
#viz1607997707548 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 600px;
}
#introTeachers {
  top: 400vh;
  width: 100%;
  position: absolute;
}
.col1 {
  width: 50%;
  float: left;
  text-align: center;
}
.col1 h3 {
  font-size: 20px;
  margin-top: 20%;
  margin-left: 5%;
  margin-right: 5%;
  font-weight: 100;
  font-family: Poppins;

}
.col1 h4 {
  font-size: 17px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Raleway;
}
.boldText {
  font-weight: bold;
  color: #BE6E9F;
}
.col2 {
  right: 0;
  width: 50%;
  height: 100%;
  float: right;
}
#introPics {
  height: 65vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
#sullivanCounty {
  top: 500vh;
  width: 100%;
  position: absolute;
}
.county h4 {
  font-family: Raleway;
  text-align: right;
  font-size: 19px;
  margin-right: 5%;
  margin-top: 10%;

}
.county .titletext {
  margin-right: 5%;
  margin-bottom: 0%;
  margin-top: 10%;
  text-align: right;
  font-size: 48px;
}
#sullivan {
  height: 70vh;
  margin-top: 20%;
}
#joanna {
  height: 30vh;
  float: right;
  margin-right: 5%;
  margin-top: 10%;

}
#duvalCounty {
  top: 600vh;
  width: 100%;
  position: absolute;
}
#duval {
  height: 70vh;
  margin-top: 20%;
}
#duvalCounty .titletext {
  width: 80%;
  float: right;
}
#duvalCounty h4 {
  width: 80%;
  float: right;
}
#alice {
  height: 30vh;
  float: right;
  margin-top: 10%;
  margin-right: 5%;
}
#platteCounty {
  top: 700vh;
  width: 100%;
  position: absolute;
}
#platteCounty h4 {
  width: 80%;
  float: right;
}
#max {
  height: 30vh;
  float: right;
  margin-right: 5%;
  margin-top: 10%;
}
#nationalPic {
  top: 800vh;
  width: 100%;
  position: absolute;
}
.cols {
  width: 100%;
}
#nationalPic .col2 p {
  margin-top: 25%;
  margin-left: 10%;
  font-size: 20px;
  margin-right: 10%;
}
.boldTextRed {
  font-weight: bold;
  color: #E15759;
}
#viz1608242384869 {
  width: 70%;
  margin-top: 3%;
  float: left;
  padding-left: 3%;
}
#tellFullStory {
  top: 900vh;
  width: 100%;
  position: absolute;
}
#tellFullStory p {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
}
#full_story {
  width: 75%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#costOfLiving {
  top: 1000vh;
  width: 100%;
  position: absolute;
}
#viz1608244711325 {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#conclusion {
  top: 1100vh;
  width: 100%;
  position: absolute;
  font-family: Raleway;
  text-align: center;
}
#methods {
  top: 1200vh;
  height: 50%;
  z-index: 0;
  background: #00272B;
  color: white;

  position: absolute;
  width: 100vw;
}
#methods p {
  font-size: 17px;
  margin: 2%;
}
#methods h3 {
  font-size: 20px;
}
#methods .titletext {
  background: #00272B;
  color: white;
  font-weight: 300;
  margin-top: 0;
}
