html {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 1050vh;
  box-sizing: border-box;
  margin: 0;
}
nav {
  background: #00272B;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0px;
  z-index: 1;
  left: 0px;
  display: table;

}
nav a {
  font-size:0.65em;
  color: white;
  font-weight: bold;
  font-family: Poppins;
  top: 25%;
  display: table-cell;
  width: 16.666666667%;
  text-align: center;
  padding: 10px;
}
section {
  width: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
  z-index: 0;
}
#intro {
  top: 0vh;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 15%; */
  font-size: 0.8em;
  position: absolute;
  text-align: center;
  background-color: #ECFFF0;
}

#intro p {
  font-size: 1.5em;
}
#money_group {
  height: 30vh;
  padding-top: 2%;
}
#intro h1 {
  top: 50vh;
  margin-top: 15%;
  font-family: Poppins;
  text-align: center;
  font-size: 4em;
  color: black;
}

#viz1 {
  top: 100vh;
  width: 100%;
  position: absolute;
}

#tableauViz1 {
  margin-left: auto ;
  margin-right: auto ;
  width: 100%;
  height: 80vh;
}

.titletext {
  font-family: Poppins;
  text-align: center;
  color: black;
  font-size: 2em;
  position: sticky;
  font-weight: bold;
  z-index: 1;
  background-color: white;
  padding-top: 15px;
  top:5vh;
}

p {
  font-size: 1.15em;
  margin-top: 4%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Raleway;
  text-align: center;
}
#countyViz {
  top: 200vh;
  width: 100%;
  position: absolute;
}
#viz1610557469475 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#districtViz {
  top: 300vh;
  width: 100%;
  position: absolute;
}
#viz1607997707548 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 600px;
}
#introTeachers {
  top: 400vh;
  width: 100%;
  position: absolute;
}
.col1 {
  width: 40%;
  float: left;
  text-align: center;
}
.col1 h3 {
  font-size: 20px;
  margin-top: 25%;
  margin-left: 7%;
  margin-right: 7%;
  font-weight: 100;
  font-family: Raleway;

}
.col1 h4 {
  font-size: 17px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Raleway;
}
.boldText {
  font-weight: bold;
  color: #BE6E9F;
}
.col2 {
  right: 0;
  width: 50%;
  height: 100%;
  float: right;
}
#introPics {
  height: 65vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
#mapzoom {
  top: 500vh;
  width: 100%;
  position: absolute;
  font-family: Raleway;
  text-align: center;
}
#map_viz {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 80%;
}
#sullivan_info {
  display: none;
  position: absolute;
  margin-left: 40%;
  margin-right: auto;
  width: 20%;
  top: 35%;  /* margin-top: 55%; */
}
#duval_info {
  display: none;
  position: absolute;
  margin-left: 35%;
  margin-right: auto;
  width: 30%;
  top: 35%;  /* margin-top: 55%; */
}
#platte_info {
  display: none;
  position: absolute;
  margin-left: 35%;
  margin-right: auto;
  width: 30%;
  top: 27%;  /* margin-top: 55%; */
}
#states {
  fill: #aaa;
}

#states .active {
  display:none;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.county-boundary {
  fill: #aaa;
  stroke: #aaa;
  stroke-width: .5px;
}

.county-boundary:hover, .state:hover {
  fill: white;
}

.county-boundary:hover, .state:hover {
    fill: white;
}

/* #sullivanCounty {
  top: 600vh;
  width: 100%;
  position: absolute;
}
#fish {
  height: 20vh;
  float: right;
  margin-right: 10%;
  margin-top: 10%;
}
.county h4 {
  font-family: Raleway;
  text-align: right;
  font-size: 19px;
  margin-right: 5%;
  margin-top: 10%;

}
.county_titletext {
  font-family: Poppins;
  margin-right: 5%;
  margin-bottom: 0%;
  margin-top: 10%;
  text-align: right;
  font-size: 3em;
}
#sullivan {
  height: 70vh;
  margin-top: 20%;
}
#sullivan_list {
  width: 80%;
  float: right;
}
#sullivan_list li {
  margin: 0;
  padding: 18px 0 18px 48px;
	list-style: none;
	background-image: url("sullivan_bulletpoint.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
}
#joanna {
  height: 30vh;
  float: right;
  margin-right: 25%;
  margin-top: 5%;

}
#duvalCounty {
  top: 700vh;
  width: 100%;
  position: absolute;
}
#duval {
  height: 70vh;
  margin-top: 20%;
}
#duvalCounty .titletext {
  width: 80%;
  float: right;
}
#duval_list {
  width: 80%;
  float: right;
}
li {
  font-size: 1.15em;
  font-family: Raleway;
}
#duval_list li {
  margin: 0;
  padding: 18px 0 18px 48px;
	list-style: none;
	background-image: url("duval_bulletpoint.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
}
#alice {
  height: 30vh;
  float: right;
  margin-top: 5%;
  margin-right: 30%;
}
#plant {
  height: 22vh;
  float: right;
  margin-top: 10%;
  margin-right: 15%;

}
#platteCounty {
  top: 800vh;
  width: 100%;
  position: absolute;
}
#platte_list {
  width: 80%;
  float: right;
}
#platte_list li {
  margin: 0;
  padding: 18px 0 18px 48px;
	list-style: none;
	background-image: url("platte_bulletpoint.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
}
#max {
  height: 30vh;
  float: right;
  margin-right: 25%;
  margin-top: 5%;
}
#paint {
  height: 18vh;
  float: right;
  margin-right: 13%;
  margin-top: 10%;

} */
#nationalPic {
  top: 600vh;
  width: 100%;
  position: absolute;
}
.cols {
  width: 100%;
}
#nationalPic .col2 p {
  margin-top: 25%;
  margin-left: 10%;
  font-size: 20px;
  margin-right: 10%;
}
.boldTextRed {
  font-weight: bold;
  color: #E15759;
}
#viz1608242384869 {
  width: 70%;
  margin-top: 3%;
  float: left;
  padding-left: 3%;
}
#tellFullStory {
  top: 700vh;
  width: 100%;
  position: absolute;
}
#tellFullStory p {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 18px;
}
#full_story {
  width: 75%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#costOfLiving {
  top: 800vh;
  width: 100%;
  position: absolute;
}
#viz1608244711325 {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#conclusion {
  top: 900vh;
  width: 100%;
  position: absolute;
  font-family: Raleway;
  text-align: center;
  background: url("school_background1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#conclusion .titletext {
  background-color: inherit;
}
#conclusion h3 {
  margin-left: 15%;
  margin-right: 15%;
}
#methods {
  top: 1000vh;
  height: 50%;
  z-index: 0;
  background: #00272B;
  color: white;
  position: absolute;
  width: 100%;
}
#methods p {
  font-size: 17px;
  margin: 2%;
}
#methods h3 {
  font-size: 20px;
}
#methods .titletext {
  background: #00272B;
  color: white;
  font-weight: 300;
  margin-top: 0;
}
